ANTHROPIC_API_KEY=
AUTO_CHECK_API=
DISABLE_BANNER=
GAPGPT_API_KEY=
GEMINI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
HUGGINGFACE_API_KEY=
LOG_LEVEL=
MODEL_TEMPERATURE=
OLLAMA_BASE_URL=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
SHOW_PROVIDER_STATUS=
TESSERACT_PATH=